[submodule "CCMSDeployments"]
	path = CCMSDeployments
	url = https://github.com/CCMS-UCSD/CCMSDeployments.git
[submodule "GNPS_Workflows"]
	path = GNPS_Workflows
	url = https://github.com/CCMS-UCSD/GNPS_Workflows.git
[submodule "CCMS-Workflow-Tools"]
	path = CCMS-Workflow-Tools
	url = git@github.com:CCMS-UCSD/CCMS-Workflow-Tools.git
